/TestArithmetic.class
/DoArithmetic.class
/Node.class
/Binop.class
/Plus.class
/Const.class
/Minus.class
/Mult.class
/Snippet.class
/Divide.class
/TestAlgebra.class
/Variable.class
/TestAlgebraII.class
/TestAlgebra_II.class
/OperatorFactory.class
/TerminalFactory.class
/GPTree.class
/TestAlgebra_III.class
/TestAlgebra_IV.class
/DataRow.class
/DataSet.class
/Generation.class
